.movies__more {
    display: block;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    line-height: 36px;
    font-weight: 500;
    color: #FFFFFF;
    background-color: #2F2F2F;
    cursor: pointer;
    padding: 0 148px;
    margin: 80px auto 0;
    transition: opacity ease 0.4s;
}

.movies__more:hover {
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .movies__more {
        margin: 80px auto 33px;
    }
}

@media screen and (max-width: 440px) {
    .movies__more {
        padding: 0 108px;
        margin: 80px auto 55px;
    }
}