.section-title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #FFFFFF;
    width: 100%;
    margin: 0;
    padding: 0 0 23px 0;
}

@media screen and (max-width: 320px) {
    .section-title {
        font-size: 18px;
        line-height: 22px;
        padding: 0 0 27px 0;
    }
}